<header>
    <nav class="transparent black-text">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo brand-logo-small"><img id="header-logo" alt="Gaggle Mail Logo" src="">
                Gaggle <span>Mail</span></a>
            <meta itemprop="url" content="http://gaggle.email/">
            <meta itemprop="name" content="Gaggle Mail">
            <div id="header-mobile-links" class=" row center hide-on-large-only">
                <div class="col s4">
                    <a href="/about">About</a>
                </div>
                <div class="col s4">
                    <a href="/blog">Blog</a>
                </div>
                <div class="col s4">

                <a class="modal-trigger" href="#login-modal">Login</a>

                </div>
                <div class="col s12 spacer"></div>
            </div>
            <ul class="right hide-on-med-and-down">
                <li><a href="/about">About</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="/blog">Blog</a></li>

                <li><a class="modal-trigger" href="#login-modal">Login</a></li>

            </ul>
        </div>
    </nav>
</header>
