<br><br><br><br>
<div class="container headline-dark">
  <br>
  <h5 class="center-align">Enter the email you used to sign up for your account</h5>
  <br>
  <% if(messages.error) { %>
  <div class="center-align" style="color: white"><%= messages.error %></div>
  <% } %>
  <% if(messages.info) { %>
  <div class="center-align" style="color: white"><%= messages.info %></div>
  <% } %>
  <% if(messages.success) { %>
  <div class="center-align" style="color: white"><%= messages.success %></div>
  <% } %>
  <div class="row">
    <form class="col s8 offset-s4" action="/forgot" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" name="email">
          <label>Email</label>
        </div>
      </div>
      <button type="submit" class="waves-effect waves-light btn">Reset Password</button>
    </form>
    <div class="col s8 offset-s4">
      <div class="row">
        <div class="input-field col s8">
          <p>Go back <a href="/">home</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
