    <br><br><br>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <button class="waves-effect waves-light btn" id="start-recog" type="button" name="button">Start Recording</button>
          <button class="waves-effect red btn hide" id="stop-recog" type="button" name="button">Pause Recording</button>
          <button class="waves-effect red btn hide" id="analyze-recog" type="button" name="button">Analyze Recording</button>
          <button class="waves-effect red btn hide" id="save-recog" type="button" name="button">Save Recording</button>
          <div id="input-div" class="input-field">
            <input id="keywords" type="text" name="name" placeholder="Keywords">
          </div>
          <div id="result-box" class="col s6"></div>
          <div id="keywords-box" class="col s6"></div>
        </div>
      </div>
    </div>



    <script type="text/javascript">

    String.prototype.capitalizeFirstLetter = function() {
      return this.charAt(0).toUpperCase() + this.slice(1);
    }

    var startRec = $('#start-recog')
    var stopRec = $('#stop-recog')
    var analyzeRec = $('#analyze-recog')
    var saveRec = $('#save-recog')
    var fullSpeech = ''
    var results = {}
    var speech = [];
    var splitSpeech = [];

    var recog = new p5.SpeechRec();
    recog.continuous = true;
    // recog.interimResults = true;
    recog.onResult = showResult;
    // recog.onResult = parseResult;


    function showResult() {
      speech.push(recog.resultString.toString());
      fullSpeech = speech.join('. ')
      console.log(fullSpeech);
      $('#result-box').children().remove()
      $('#result-box').append('<p>' + fullSpeech + '</p>')
    }

    startRec.on('click', function() {
      recog.start();
      $('#input-div').addClass('hide')
      analyzeRec.addClass('hide')
      saveRec.addClass('hide')
      stopRec.removeClass('hide')
      // analyzeRec.addClass('disabled')
    })


    stopRec.on('click', function() {
      analyzeRec.removeClass('hide')
      recog.stop();
    })

    analyzeRec.on('click', function(){
      if (!fullSpeech) {
        console.log("No speech detected");
        $('#result-box').append('<h2>No speech to anaylze</h2>')
      } else {
      saveRec.removeClass('hide')
        $('#result-box').children().remove()
        $('#result-box').append('<p>' + fullSpeech + '</p>')
        // fullSpeech = speech.join('. ')
        splitSpeech = fullSpeech.split(" ")
        for (i = 0; i < splitSpeech.length; i++) {
          splitSpeech[i] = splitSpeech[i].replace(/[.,\/#!$%\^&\*;:{}=\-_`~()]/g,"")
          splitSpeech[i] = splitSpeech[i].replace("[^\\w]", "");
        }
        console.log(splitSpeech)
        var keywords = $('#keywords').val()
        console.log("Keywords in input:");
        // console.log(keywords.filter(Boolean));
        console.log(!!keywords);
        if (keywords) {
          keywords = keywords.split(' ')
          keywords.forEach(function(keyword) {
            results[keyword] = 0
            splitSpeech.forEach(function(speechWord) {
              if(speechWord == keyword) {
                results[keyword] += 1
              }
            })
          })
          for (var key in results) {
            $('#keywords-box').append('<li><span style="text-decoration: underline">' + key + '</span> was repeated ' + results[key] + ' ' + (results[key] > 1 || results[key] == 0 ? 'times</li>' : 'time</li>'))
          }
        } else {
          $('#keywords-box').append('<h2>No words to match</h2>')
        }
      }
    })

    saveRec.on('click', function(){
      var savedData = {}
      savedData.speech = fullSpeech
      savedData.results = results
      console.log(savedData);
      $.ajax({
        url: ,
        method: 'POST',
        contentType: 'application/json',
        data:JSON.stringify(savedData)
      }).done(function(data) {
        results = {}
        fullSpeech = ''
        splitSpeech = []
        $('#keywords').val('')
        $('#result-box').children().remove()
        $('#keywords-box').children().remove()
        $('#input-div').removeClass('hide')
      })
    })

    </script>

  </body>
</html>
