<script src="/js/moment.js" type="text/javascript"></script>

<div class="index-page headline">
  <div class="center-align">
    <h1 class="center-align dropdown-button btn-flat" data-activates='dropdown1'><i class="material-icons right">reorder</i>Welcome <%= user.local.name %></h1>
  </div>

    <br>
  <div class="wrap">
    <div class="container">
      <div class="col s12">
        <div class="row">
        <div class="col s3">
          <button class="waves-effect waves-light btn-large red button-font" id="start-recog" type="button" name="button"><i class="material-icons right">mic</i>Start Recording</button>
        </div>
        <div class="col s3">
          <button class="waves-effect waves-light btn-large blue hide button-font" id="stop-recog" type="button" name="button"><i class="material-icons right">pause</i>Pause Recording</button>
        </div>
        <div class="col s3">
          <button class="waves-effect waves-light btn-large blue hide button-font" id="save-recog" type="button" name="button"><i class="material-icons right">playlist_add</i>Save Recording</button>
        </div>
        <div class="col s3">
          <button class="waves-effect waves-light btn-large green hide button-font" id="clear-recog" type="button" name="button"><i class="material-icons right">clear_all</i>Clear Recording</button>
        </div>
      </div>
    </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div id="input-div" class="input-field">
            <input  class="type-font" id="keywords" type="text" name="name" placeholder="Keywords to listen for">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col s12">
        <div id="result-box"></div>
      </div>
    </div>
    <div class="container">
      <div class="col s12">
        <div id="keywords-box">
          <table id="keywords-table">
            <thead>
              <tr>
                  <th data-field="id"><h5 class="type-font">How many times were the keywords repeated?</h5></th>
              </tr>
            </thead>
            <tbody id="keywords-table-tbody">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h5 class="center-align type-font">Your saved speeches</h5>
    <div class="row">
      <div class="col s8 offset-s3">
        <table id="history-table">
          <thead>
          </thead>
          <tbody id="history-table-tbody">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="results-storage" style="display:none">
  <ul id="results-list">
  </ul>
</div>

<div id="speech-modal" class="modal">
  <div class="modal-content">
    <h5>Speech:</h5>
    <p id="speech-text"></p><br>
    <h5>Repeated Words:</h5>
    <p id="speech-results"></p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="close-modal modal-action modal-close waves-effect waves-green btn-flat button-font">Close</a>
  </div>
</div>

<ul id='dropdown1' class='dropdown-content headline button-font'>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>

<div id="user-id" data-userid="<%= user._id %>"></div>


    <script type="text/javascript">

    var userId = $('#user-id').data('userid')

    var startRec = $('#start-recog')
    var stopRec = $('#stop-recog')
    var clearRec = $('#clear-recog')
    var saveRec = $('#save-recog')
    var fullSpeech = ''
    var results = {}
    var speech = [];
    var splitSpeech = [];
    // var savedData = {}
    var keywordsTableBody = $('#keywords-table #keywords-table-tbody')
    var historyTableBody = $('#history-table #history-table-tbody')
    var historyList = $('#history')
    var resultsStorage = $('#results-storage')
    var resultsList = $("#results-storage #results-list")
    var keywordsResultArray;

    var recog = new p5.SpeechRec();
    recog.continuous = true;
    // recog.interimResults = true;
    recog.onResult = showResult;
    // recog.onResult = parseResult;


    function showResult() {
      speech.push(recog.resultString.toString());
      fullSpeech = speech.join('. ')
      $('#result-box').children().remove()
      $('#result-box').append('<p class="type-font">' + fullSpeech + '</p>')
      analyze()
    }

    startRec.on('click', function() {
      recog.start();
      $('#input-div').addClass('hide')
      saveRec.addClass('hide')
      // saveRec.addClass('hide')
      stopRec.removeClass('hide')
      // analyzeRec.addClass('disabled')
      clearKeywordsBox()
    })


    stopRec.on('click', function() {
      saveRec.removeClass('hide')
      recog.stop();
    })

    function analyze() {
      if (!fullSpeech) {
        $('#result-box').append('<h3 class="center-align">No speech to anaylze</h3>')
      } else {

      $('#result-box').children().remove()
      $('#result-box').append('<p class="type-font">' + fullSpeech + '</p>')
      // fullSpeech = speech.join('. ')
      splitSpeech = fullSpeech.split(" ")
      for (i = 0; i < splitSpeech.length; i++) {
        splitSpeech[i] = splitSpeech[i].replace(/[.,\/#!$%\^&\*;:{}=\-_`~()]/g,"")
        splitSpeech[i] = splitSpeech[i].replace("[^\\w]", "");
      }
      // console.log(splitSpeech)
      var keywords = $('#keywords').val()
      // console.log("Keywords in input:");
      // console.log(keywords.filter(Boolean));
      // console.log(!!keywords);
      if (keywords) {
        keywords = keywords.split(' ').filter(Boolean)
        keywords.forEach(function(keyword) {
          results[keyword] = 0
          splitSpeech.forEach(function(speechWord) {
            if(speechWord == keyword) {
              results[keyword] += 1
            }
          })
        })
        for (var key in results) {
          keywordsTableBody.append('<tr><td class="type-font"><span style="text-decoration: underline">' + key + '</span> was repeated ' + results[key] + ' ' + (results[key] > 1 || results[key] == 0 ? 'times</td></tr>' : 'time</td></tr>'))
        }
        } else {
          $('#keywords-box').append('<h3 class="center-align">No words to match</h3>')
        }
      }
    }

    // function to clear the keywords result box when the clear button is clicked or the speech is continued.
    function clearKeywordsBox() {
      keywordsResultArray = $("#keywords-box").children().children().children().children()
      for (var i = 1; i < keywordsResultArray.length; i++) {
        keywordsResultArray[i].remove()
      }
    }

    // analyzeRec.on('click', analyze)

    saveRec.on('click', function(){
      clearRec.removeClass('hide')
      var savedData = {}
      savedData.speech = fullSpeech
      savedData.results = results
      $.ajax({
        url: '/speeches',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(savedData)
      }).done(function(data) {
        console.log("hello");
        console.log(data.speech.results);
        console.log("hello");

        var resultsObject = data.speech.results

        historyTableBody.append('<tr><td><div class="speech-results" style="display:none"></div><button data-id="' + data._id + '" class="delete btn-floating btn-small waves-effect waves-light red button-font"><i class="material-icons right">delete</i></button>&nbsp&nbsp&nbsp&nbsp&nbsp<a data-speech="' + data.speech.speech + '" class="waves-effect waves-light btn modal-trigger button-font" href="#speech-modal">' + moment(data.speech.createdAt).format('LLL') + '</td></tr>')
        for (var key in resultsObject) {
          $('.speech-results').last().append('<p>' + key + ' : ' + resultsObject[key] + ',</p>')
        }
        savedData = {}
      })
    })

    clearRec.on('click', function() {
      recog = new p5.SpeechRec()
      recog.continuous = true;
      recog.onResult = showResult;
      results = {}
      fullSpeech = ''
      splitSpeech = []
      speech = []
      // savedData = {}
      $('#keywords').val('')
      $('#result-box').children().remove()
      $('#input-div').removeClass('hide')
      clearKeywordsBox()
    })

    $.ajax({
      url: '/speeches',
      method: 'GET'
    }).done(function(data) {
      for (var i = 0; i < data.length; i ++) {
        if (data[i].posted_by == userId) {
          var resultsObject = data[i].results
          historyTableBody.append('<tr><td><div class="speech-results" style="display:none"></div><button data-id="' + data[i]._id + '" class="delete btn-floating btn-small waves-effect waves-light red button-font"><i class="material-icons right">delete</i></button>&nbsp&nbsp&nbsp&nbsp&nbsp<a data-speech="' + data[i].speech + '" class="waves-effect waves-light btn modal-trigger button-font" href="#speech-modal">' + moment(data[i].createdAt).format('LLL') + '</td></tr>')
        }
        for (var key in resultsObject) {
          $('.speech-results').last().append('<p>' + key + ' : ' + resultsObject[key] + ',</p>')
        }
        resultsObject = {}
      }
    })

    $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal();
    });

    $('body').on('click', '.delete', function() {
      var btn = $(this)
      var itemId = btn.data('id')
      $.ajax({
        url: '/speeches/' + itemId,
        method: 'DELETE'
      }).done(function(data) {
        btn.parent().slideUp(function(){
          btn.parent().remove()
        })
      })
    })

    $('body').on('click', 'a[data-speech]', function() {
      $('#speech-text').text($(this).data('speech'))
      var resultsText = $(this).prev().prev().text()
      var splitText = resultsText.split(/\s*,\s*/) // splits the text into an array spearated by commas (which i put in to use as a separator later)
      splitText.forEach(function(el){ // loop through the array and then append a paragraph element for each
        $('#speech-results').append('<p>' + el + '</p>')
      })
      $('#speech-modal').openModal();
    })

    $('.close-modal').on('click', function() {
      $('#speech-results').children().remove()
    })


    </script>

  </body>
</html>
