<br><br>
<div class="container headline">
  <h1 class="center-align">Ever wonder how many times you say certain words when you talk?</h1>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br>
  <div class="row center-align">
    <div class="col s6">
      <a class="waves-effect waves-light btn-large red button-font" href="/signup">Create Account</a>
    </div>
    <div class="col s6">
      <a class="waves-effect waves-light btn-large blue button-font" href="/login">Login</a>
    </div>
  </div>
</div>
