<br><br><br><br>
<div class="container headline-dark">
  <br>
  <h5 class="center-align">Enter login information below</h5>
  <% if(flash) { %>
  <div class="center-align" style="color: red"><%= flash %></div>
  <% } %>
  <br>
  <div class="row">
    <form class="col s8 offset-s4" action="/login" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" name="email">
          <label>Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input type="password" name="password">
          <label>Password</label>
        </div>
      </div>
      <button type="submit" class="waves-effect waves-light btn">Login</button>
    </form>
    <div class="col s8 offset-s4">
      <div class="row">
        <div class="input-field col s8">
          <p>Go back <a href="/">home</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
