<div class="container">
  <br>
  <h5 class="center-align">Enter login information below</h5>
  <br>
  <div class="row">
    <form class="col s8 offset-s4" action="/login" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input id="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <button type="submit" class="waves-effect waves-light btn">Login</button>
    </form>
    <div class="col s8 offset-s4">
      <div class="row">
        <div class="input-field col s8">
          <p>Go back <a href="/">home</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
