<br><br><br><br>
<div class="container headline-dark">
  <br>
  <h5 class="center-align">Enter your new password</h5>
  <br>
  <% if(flash) { %>
  <div class="center-align" style="color: red"><%= flash %></div>
  <% } %>
  <%= user %>
  <div class="row">
    <form class="col s8 offset-s4" action="" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input type="password" name="password">
          <label>Password</label>
        </div>
      </div>
      <button type="submit" class="waves-effect waves-light btn">Save Password</button>
    </form>
    <div class="col s8 offset-s4">
      <div class="row">
        <div class="input-field col s8">
          <p><a href="/">Cancel</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
