<br><br><br><br>
<div class="container headline-dark">
  <br><br><br>
  <h5 class="center-align">Enter the following information to create an account</h5>
  <br>
  <div class="row">
    <form class="col s12 offset-s2" action="signup" method="post">
      <div class="row">
        <div class="input-field col s4 offset-s2">
          <input id="name" type="text" class="validate" name="name">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 offset-s2">
          <input id="email" type="text" class="validate" name="email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 offset-s2">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      <button type="submit" class="waves-effect waves-light btn col s4 offset-s2">Signup</button>
    </form>
    <div class="col s12 offset-s2">
      <div class="row">
        <div class="input-field col s4 offset-s2">
          <p>Or, <a href="/login">Login</a></p>
          <p>Go back <a href="/">home</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
