<div class="container">
  <br><br><br>
  <h5 class="center-align"><%= user.local.name %>, Edit account information below</h5>
  <br>
  <div class="row">
    <form class="col s12 offset-s2" action="<%= user._id %>" method="post">
      <div class="row">
        <div class="input-field col s4 offset-s2">
          <input type="text" name="local.name" value="<%= user.local.name %>">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 offset-s2">
          <input type="text" name="local.email" value="<%= user.local.email %>">
          <label for="email">Email</label>
        </div>
      </div>
      <input type="hidden" name="_method" value="PATCH">
      <button type="submit" class="waves-effect waves-light btn col s4 offset-s2">Save Edits</button>
    </form>
    <div class="col s12 offset-s2">
      <div class="row">
        <div class="input-field col s4 offset-s2">
          <a class="waves-effect waves-light btn-large blue" href="/profile">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
