#result-box {
  /*border: 4px solid black;*/
  max-width: 600px;
  min-height: 200px;
  padding: 5px;
}

#keywords-box {
  /*border: 4px solid black;*/
  max-width: 600px;
  min-height: 200px;
  padding: 20px;
}

/*.container {
  background-color: black;
}*/

.wrap {
  /*background-color: rgba(255, 255, 255, 1);*/
  margin: 0 100px 0 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  /*border: 5px solid grey;*/
}

html {
  background: url(../images/microphone.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.headline {
  font-family: 'Poiret One', cursive;
  /*font-family: 'Quicksand', sans-serif;*/
  font-weight: 400;
  color: white;
  background-color: rgba(0, 0, 0, .75);
  margin-left: 300px;
  margin-right: 200px;
  border-radius: 5px;
  padding: 10px;
}

.headline-dark {
  font-family: 'Poiret One', cursive;
  /*font-family: 'Quicksand', sans-serif;*/
  font-weight: 300;
  color: white;
  background-color: rgba(0, 0, 0, .9);
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 5px;
  padding: 10px;
}

.button-font {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.type-font {
  font-family: 'Inconsolata';
  font-weight: 400;
}
