#result-box {
  /*border: 4px solid black;*/
  max-width: 600px;
  min-height: 200px;
  padding: 5px;
}

#keywords-box {
  /*border: 4px solid black;*/
  max-width: 600px;
  min-height: 200px;
  padding: 20px;
}
