    <!-- <br><br><br>
    <div class="container">
      <div class="row">
        <div class="col s6">
          <form action="/upload" method="post" name="fileinfo">
             <div class="file-field input-field">
               <div class="btn">
                 <span>Upload Audio File</span>
                 <input id="file-input" type="file" name="file" accept="audio/*">
                 <input type="hidden" id="audio-file" name="audio-file" value="">
               </div>
               <div class="file-path-wrapper">
                 <input class="file-path validate" type="text" placeholder="Select a file to upload">
               </div>
             </div>
           </form>
        </div>
        <div class="col s6">
          <div class="input-field">
            <input id="keywords" type="text" name="name" placeholder="Keywords to look for">
          </div>
        </div>
        <div class="col s12">
          <div id="progress-bar" class="">
            <div class="indeterminate"></div>
          </div>
        </div>
        <div id="result-box" class="col s6"></div>
        <div id="keywords-box" class="col s6"></div>
      </div>
    </div> -->

    <br><br><br>
    <div class="container">
      <div class="row">
        <div class="col s6">
          <button class="waves-effect waves-light btn" id="start-recog" type="button" name="button">Start Recording</button>
          <button class="waves-effect red btn" id="stop-recog" type="button" name="button">Stop Recording</button>
        </div>
        <!-- <div class="col s6">
          <div class="input-field">
            <input id="keywords" type="text" name="name" placeholder="Keywords to look for">
          </div>
        </div> -->
        <!-- <div class="col s12">
          <div id="progress-bar" class="">
            <div class="indeterminate"></div>
          </div> -->
        </div>
        <div id="result-box" class="col s6"></div>
        <div id="keywords-box" class="col s6"></div>
      </div>
    </div>



    <script type="text/javascript">

    String.prototype.capitalizeFirstLetter = function() {
      return this.charAt(0).toUpperCase() + this.slice(1);
    }

    var startRec = $('#start-recog')
    var stopRec = $('#stop-recog')

    var recog = new p5.SpeechRec();
    recog.continuous = true;
    // recog.interimResults = true;
    recog.onResult = showResult;
    // recog.onResult = parseResult;
    var speech = [];

    function showResult() {
      speech.push(recog.resultString.toString().capitalizeFirstLetter());
      console.log(speech);
      // likes = recog.resultString.split(' ').filter(function(el) { return el == 'like'})
      // console.log(likes)
      // console.log(likes.length)
    }

    function parseResult() {
      var speech = recog.resultString
      console.log(speech);
      likes = recog.resultString.split(' ').filter(function(el) { return el == 'like'})
      console.log(likes)
      console.log(likes.length)
    }

    // function setup() {
    //   createCanvas(500, 500);
    //   startButton = createButton('Start Recognition!');
    //   startButton.position(50, 50);
    //   startButton.mousePressed(startRecognition)
    //
    //   // stopButton = createButton('Stop Recognition!');
    //   // stopButton.position(100, 100);
    //   // stopButton.mousePressed(stopRecognition)
    // }

    startRec.on('click', function() {
      recog.start();
    })

    stopRec.on('click', function() {
      speech.join('')
      console.log(speech.join('. '));
      recog.stop();
      // showResult()
    })






    // function uploadFile(file, signedRequest, url){
    // const xhr = new XMLHttpRequest();
    // xhr.open('PUT', signedRequest);
    //
    //
    // // the below code runs once a file has been added to the input field
    // xhr.onreadystatechange = () => {
    //   var keywords = $('#keywords').val()
    //   keywords = keywords.split(' ')
    //
    //   if(xhr.readyState === 4){
    //     if(xhr.status === 200){
    //       document.getElementById('audio-file').value = url;
    //       $('#submit-audio').parent().removeClass('disabled')
    //
    //       $.ajax({
    //         url: "/transcribe?keyword=" + keywords,
    //         method: "GET",
    //       }).done(function(data){
    //         $('#progress-bar').removeClass('progress')
    //         data = JSON.parse(data)
    //         keywordsResult = data.results[0].keywords_result;
    //         resultSpeech = data.results[0].alternatives[0].transcript;
    //         $('#result-box').append('<p>' + resultSpeech + '</p>')
    //
            // for (var key in keywordsResult) {
            //   $('#keywords-box').append('<li><span style="text-decoration: underline">' + keywordsResult[key][0].normalized_text + '</span>' + ' was repeated ' + keywordsResult[key].length + ' ' + (keywordsResult[key].length > 1 ? 'times</li>' : 'time</li>'))
            // }
    //       })
    //     }
    //     else{
    //       alert('Could not upload file.');
    //     }
    //   }
    // };
    // xhr.send(file);
    // }
    //
    // function getSignedRequest(file){
    // const xhr = new XMLHttpRequest();
    // xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
    // xhr.onreadystatechange = () => {
    //   if(xhr.readyState === 4){
    //     if(xhr.status === 200){
    //       const response = JSON.parse(xhr.responseText);
    //       console.log(xhr.responseText);
    //       uploadFile(file, response.signedRequest, response.url);
    //     }
    //     else{
    //       alert('Could not get signed URL.');
    //     }
    //   }
    // };
    // xhr.send();
    // }
    //
    // /*
    // Function called when file input updated. If there is a file selected, then
    // start upload procedure by asking for a signed request from the app.
    // */
    // function initUpload(){
    // $('#progress-bar').addClass('progress') // progress bar on upload start
    // const files = document.getElementById('file-input').files;
    // const file = files[0];
    // if(file == null){
    //   return alert('No file selected.');
    // }
    // getSignedRequest(file);
    // }
    //
    // /*
    // Bind listeners when the page loads.
    // */
    // (() => {
    //   document.getElementById('file-input').onchange = initUpload;
    // })();

    </script>

  </body>
</html>
